package cisco_ios

import (
	"github.com/dgethings/chunter/internal/keyword"
	"github.com/dgethings/chunter/internal/protocol"
)

var Keywords = []keyword.Keyword{
{{- range . }}
    {
        Keyword: {{ printf "%q" .Command }},
        Description: keyword.Description{
            Format: protocol.PlainText,
            Value:  {{ printf "%q" .Description }},
        },
        Section: {{ printf "%q" .Section }},
        Snippets: []string{ {{- range .Snippets }} {{ printf "%q" . }}, {{- end }} },
    },
{{- end }}
}
